.git
.gitignore

.venv
venv

__pycache__/
*.py[cod]
*$py.class

.mypy_cache/
.pytest_cache/
.ruff_cache/
.coverage
coverage.xml
htmlcov/

.env
.env.*
!.env.example

.idea/
.vscode/
*.swp
*.swo

build/
dist/
*.egg-info/

Dockerfile*
compose*.yml
compose*.yaml
README*
